{% extends 'base.html' %}

{% block content %}

     <!--
    - MAIN
  -->
<main  id="main" class="main">
    
  <section id="blog">
    {% for post in posts %}
        <div class="blog-box">
            <div class="blog-img">
                <img src="{{ url_for('static', filename='images/blogposts/' + post.image)}}" alt="">
            </div>
            <div class="blog-details">
                <h4>{{ post.title }}</h4>
                <p>{{ post.content | truncate(200) | safe }}
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
        </div>
    {% endfor %}
</section>

</main>

{% endblock content %}