{% extends 'base.html' %}

{% block content %}

<main id="main" class="main">
  {% include 'message.html' %}
    <div class="pagetitle">
      <h1>Cart Items</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row justify-content-left">
        <div class="col-md-12">

            <div class="card" >
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>S/N</th>
                        <th>Product name</th>
                        <th>Image</th>
                        <th>Vendor</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Category</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                        {% for key, product in session['cart'].items() %}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ loop.index }}</strong></td>
                        <td>{{ product.name | truncate(30) }}</td>
                        <td>
                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                            <li
                              data-bs-toggle="tooltip"
                              data-popup="tooltip-custom"
                              data-bs-placement="top"
                              class="avatar avatar-xs pull-up"
                              title="Lilian Fuller"
                            >
                              <img src="{{ url_for('static', filename='images/products/' + product.image_1) }}" alt="Avatar" width="50px" height="50px" class="rounded-circle"/>
                            </li>
                            <li
                              data-bs-toggle="tooltip"
                              data-popup="tooltip-custom"
                              data-bs-placement="top"
                              class="avatar avatar-xs pull-up"
                              title="Sophia Wilkerson"
                            >
                              <img src="{{ url_for('static', filename='images/products/' + product.image_2) }}"  width="50px" height="50px" alt="Avatar" class="rounded-circle" />
                            </li>
                          </ul>
                        </td>
                        <td>{{ product.vendor }}</td>
                        <td>${{ product.price }}</td>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ product.discount }}%</strong></td>

                        <td>{{ product.category }}</td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0);"
                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                              >
                              <a class="dropdown-item" href="{{ url_for('cart.delete_item', id=key) }}"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}

     
                    </tbody>
                  </table>
                </div>
              </div>

        </div>

      </div>
    </section>
    <section id="cart-add" class="section-p1">
      <div id="coupon">
          <div>
              <a href="{{ url_for('cart.clear') }}" class="btn btn-primary">Clear cart</a>
          </div>
      </div>
  
      <div id="subtotal">
          <h5>Cart Total</h5>
          <table>
              <tr>
                  <td>Cart Subtotal</td>
                  <td>₦ 335</td>
              </tr>
  
              <tr>
                  <td>Shipping</td>
                  <td>Free</td>
              </tr>
  
              <tr>
                  <td><strong>Total</strong></td>
                  <td><strong>₦ 335</strong></td>
              </tr>
  
          </table>
  
          <a href="" class="btn btn-primary">Proceed to checkout</a>
      </div>
  </section>

  </main>

{% endblock content %}