{% extends 'base.html' %}


{% block content %}

<main id="main" class="main">

<section class="section dashboard">
    <div class="row">
         
      <section id="product-1" class="section-p1">
        {% include 'message.html' %}
        <div class="pro-container">
            
            {% for product in products %}
                <div class="pro">
                    <img src="{{ url_for('static', filename='images/products/' + product.image_1) }}" alt="">
                    <div class="des">
                        <a href="" style="color: blue; font-size: 16px; font-weight: 700;">{{ product.brand.name }}</a>
                        {% if product.discount > 0 %}
                            <span style="margin-left: 90px; font-size: 14px; color: red">({{ product.discount }}%)</span>
                        {% endif %}
                        <h4 style="color: black"><a style="color: black" href="{{ url_for('product.singleproduct', id=product.id) }}">{{ product.name | truncate(45) }}</a></h4>
                        <div class="star">
                            <i class="bi bi-star-fill" style="color: red"></i>
                            <i class="bi bi-star-fill" style="color: red"></i>
                            <i class="bi bi-star-fill" style="color: red"></i>
                            <i class="bi bi-star-fill" style="color: red"></i>
                            <i class="bi bi-star-fill" style="color: red"></i>
                        </div>                        
                    </div>
                    {% if product.discount > 0 %}
                        
                    {% endif %}
                    <form action="{{ url_for('cart.add_to_cart', id=product.id) }}" method="POST">
                        <span style="font-weight: 600; color: blue; margin-right: 20px;">${{ product.price }}</span>
                        <button style="margin-left: 90px;" type="submit" class="btn btn-primary"><i class="bi bi-cart"></i></button>
                    </form>
                </div>
            {% endfor %}
        </div>
        
    </section>
    </div>
</section>

</main>
{% endblock content %}