{% extends 'base.html' %}


{% block content %}

<main id="main" class="main">

<section class="section dashboard">
    <div class="row">
         
      <section id="product-1" class="section-p1">
        {% include 'message.html' %}
        <div class="pro-container">
            
            {% for product in products %}
                <div class="pro">
                    <img src="{{ url_for('static', filename='images/products/' + product.image_1) }}" alt="">
                    <div class="des">
                        <a href="" style="color: blue; font-size: 16px; font-weight: 700;">{{ product.brand.name }}</a>
                        {% if product.discount > 0 %}
                            <span style="margin-left: 90px; font-size: 14px; color: red">({{ product.discount }}%)</span>
                        {% endif %}
                        <h4 style="color: black"><a style="color: black" href="{{ url_for('product.singleproduct', id=product.id) }}">{{ product.name | truncate(45) }}</a></h4>
                        <div class="star">
                            <i class="bi bi-star-fill" style="color: yellowgreen"></i>
                            <i class="bi bi-star-fill" style="color: yellowgreen"></i>
                            <i class="bi bi-star-fill" style="color: yellowgreen"></i>
                            <i class="bi bi-star-fill" style="color: yellowgreen"></i>
                            <i class="bi bi-star-fill" style="color: yellowgreen"></i>
                        </div>                        
                    </div>
                    {% if product.discount > 0 %}
                        
                    {% endif %}
                    <form action="{{ url_for('cart.add_to_cart', id=product.id) }}" method="POST">
                        <span style="font-weight: 600; color: blue; margin-right: 20px;">${{ product.price }}</span>
                        <button style="margin-left: 90px;" type="submit" class="btn btn-primary"><i class="bi bi-cart"></i></button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <nav aria-label="Page navigation example">
                <ul class="pagination">
              {% if products.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('home', page=products.prev_num)}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
              {% endif %}
              {% if products.total> 8 %}
             {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
             {% if page_num %}
               {% if products.page == page_num %}
               <li class="page-item"><a class="page-link" href="{{url_for('home', page=page_num)}}">{{page_num}}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link" href="{{url_for('home', page=page_num)}}">{{page_num}}</a></li>
                {% endif %}
              {% else %}
              ...
              {% endif %}
             {% endfor %}
             {% endif %}
             {% if products.has_next %}
             <li class="page-item">
                <a class="page-link" href="{{url_for('home', page=products.next_num)}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>             
           {% endif %}
           </ul>
            </nav>
            </div>
        </div>
          
    </section>
    </div>
</section>

</main>
{% endblock content %}