{% extends 'base.html' %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Product</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Product</li>
        <li class="breadcrumb-item active">{{ product.category.name }}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="sectioni profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <img src="{{ url_for('static', filename='images/products/' + product.image_1 )}}" alt="Profile" style="width: 100%; height: auto">

          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <div class="social-links mt-2">
              <img src="{{ url_for('static', filename='images/products/' + product.image_1 )}}" alt="Profile" style="width: 33%; height: auto">
              <img src="{{ url_for('static', filename='images/products/' + product.image_2 )}}" alt="Profile" style="width: 33%; height: auto">
              <img src="{{ url_for('static', filename='images/products/' + product.image_3 )}}" alt="Profile" style="width: 33%; height: auto">
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                <h1 class="card-title">PRODUCT DESCRIPTION</h1>

                {{ product.description | safe }}

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.first_name }} {{ current_user.last_name }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Username</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.username }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.email }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Role</div>
                  <div class="col-lg-9 col-md-8">{{ role }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Country</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.country }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">State</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.state }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">City</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.city }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.address }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ current_user.phone }}</div>
                </div>

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main>


{% endblock content %}