{% extends 'base.html' %}
{% block title %} Add product page {% endblock title %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Product</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Dashboard</li>
          <li class="breadcrumb-item active">Updateproduct</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row justify-content-center">
        <div class="col-md-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Existing Product</h5>

              <!-- General Form Elements -->
              <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {% include 'message.html' %}

                <div class="row mb-3">
                    {{ form.name.label(class='col-sm-2 col-form-label') }}
                  <div class="col-sm-10">
                    {% if form.name.errors %}
                        {{ form.name(class='form-control') }}
                        {% for error in form.name.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                    {{ form.name(class='form-control') }}
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                    {{ form.price.label(class='col-sm-2 col-form-label') }}
                  <div class="col-sm-10">
                    {% if form.price.errors %}
                        {{ form.price(class='form-control') }}
                        {% for error in form.price.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                    {{ form.price(class='form-control') }}
                    {% endif %}
                  </div>
                </div> 

                <div class="row mb-3">
                    {{ form.discount.label(class='col-sm-2 col-form-label') }}
                  <div class="col-sm-10">
                    {% if form.discount.errors %}
                        {{ form.discount(class='form-control') }}
                        {% for error in form.discount.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                    {{ form.discount(class='form-control') }}
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                    {{ form.stock.label(class='col-sm-2 col-form-label') }}
                  <div class="col-sm-10">
                    {% if form.stock.errors %}
                        {{ form.stock(class='form-control') }}
                        {% for error in form.stock.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                    {{ form.stock(class='form-control') }}
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Select Brand</label>
                  <div class="col-sm-10">
                    <select name='brand' class="form-select" aria-label="Default select example">
                      {% for brand in brands %}
                      {% if loop.index == 1 %}
                      <option value="{{ brand.id }}">{{ brand.name }}</option>
                      {% else %}
                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
              </div>

              <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Select Category</label>
              <div class="col-sm-10">
                <select name='category' class="form-select" aria-label="Default select example">
                  {% for category in categories %}
                  {% if loop.index == 1 %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                  {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              </div>

                <div class="row mb-3">
                    {{ form.description.label(class='col-sm-2 col-form-label') }}
                  <div class="col-sm-10">
                    {% if form.description.errors %}
                        {{ form.description(class='form-control', style="height: 100px") }}
                        {% for error in form.description.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                    {{ form.description(class='form-control', style="height: 100px") }}
                    {% endif %}
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Product Images</label>
                    <div class="col-sm-10">
                      {{ form.image_1(class="form-control", id="formFile") }}
                      {% if form.image_1.errors%}
                        {% for error in form.image_1.errors %}
                        <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        <br><br>
                        {% endif %}

                      {{ form.image_2(class="form-control", id="formFile") }}
                      {% if form.image_2.errors%}
                        {% for error in form.image_2.errors %}
                        <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        <br><br>
                        {% endif %}

                      {{ form.image_3(class="form-control", id="formFile") }}
                      {% if form.image_3.errors%}
                        {% for error in form.image_3.errors %}
                        <span style="color: red">{{ error }}</span>
                        {% endfor %}
                        <br><br>
                        {% endif %}

                    </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-10">
                    {{ form.submit(class="btn btn-primary") }}
                  </div>
                </div>

              </form>

              {{ ckeditor.load() }}
              {{ ckeditor.config(name='description') }}

            </div>
          </div>

        </div>

      </div>
    </section>

  </main>

{% endblock content %}